

<h1>Manage Your Listings: </h1>
    <div class="panel-body">
        <div class="panel-heading">
            <label id="thing1" class="col-sm-2">Title</label> 
            <label id="thing2" class="col-sm-2">Location</label>
            <label id="thing3" class="col-sm-2">Price</label>
        </div>

            <div class="input-group">            
                <li id="list2" class="list-group-item" ng-repeat="itm in main.listing">
                  <div class="container">
                      
                      
                        
                        <div class="col-sm-2">
                        {{itm.title}}
                        </div>
                        <div class="col-sm-1">
                        {{itm.location}}
                        </div>
                         <div class="col-sm-2">
                        {{itm.pic}}
                        </div>
                        <div class="col-sm-1">
                        {{itm.price}}$
                        </div>
                        
                        <div class="col-sm-4">
                       <!--  {{itm. description}} -->
                        </div>
                       
                        <div class="col-sm-1">
                         <button type="submit" class="btn btn-danger" ng-click="listController.deleteItem(itm)">Delete</button>
                       
                        </div>

                  </div>
                </li>
            </div>
</div>


<div class="row show-hide-message" ng-show="main.successMsg">
<div class=" alert alert-success"> {{main.successMsg}}</div>
    
</div>

<div class="row show-hide-message" ng-show="main.errorsMsg">
<div class=" alert alert-danger"> {{main.errorsMsg}}</div>
    



