<!-- <div class="container">
    

    <div class="panel panel-default">
        <div class="panel-heading">My Listings</div>
        <div class="panel-body">
            <div class="input-group">
               
                    <div class="panel-body">
            <div class="input-group">
                <li class="list-group-item" ng-repeat="itm in main.listing">
                  <div class="container">
                      
                      
                        
                        <div class="col-sm-2" >
                        {{itm.title}}
                        </div>
                       
                        
                       
                        
                       
                         
                        <div class="col-sm-1">
                         <button type="submit" class="btn btn-danger" ng-click="main.deleteItem()">Delete</button>
                       
                        </div>

                  </div>
                </li>
            </div>
</div>
                
            </div>
        </div>
    </div>

</div> -->





    <div class="panel-body">
            <div class="input-group">
                <li class="list-group-item" ng-repeat="itm in main.listing">
                  <div class="container">
                      
                      
                        
                        <div class="col-sm-2">
                        {{itm.title}}
                        </div>
                        <div class="col-sm-1">
                        {{itm.location}}
                        </div>
                         <div class="col-sm-2">
                        {{itm.pic}}
                        </div>
                        <div class="col-sm-1">
                        {{itm.price}}
                        </div>
                        
                        <div class="col-sm-4">
                        {{itm. description}}
                        </div>
                       
                        <div class="col-sm-1">
                         <button type="submit" class="btn btn-danger" ng-click="listController.deleteItem(itm)">{{main.useremail}}</button>
                       
                        </div>

                  </div>
                </li>
            </div>
</div>


<div class="row show-hide-message" ng-show="main.successMsg">
<div class=" alert alert-success"> {{main.successMsg}}</div>
    
</div>

<div class="row show-hide-message" ng-show="main.errorsMsg">
<div class=" alert alert-danger"> {{main.errorsMsg}}</div>
    



